*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    background-image: url(assets/logo/Amazon_logo.svg.webp);
    background-size: cover;
    width: 110px;
    margin: 6vh 0px;
    height: 31px;
}
header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
}
main .form{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding:6px 14px;
    border: 0.45px solid rgba(128, 128, 128, 0.31);
    border-radius: 2px;
    align-self: center;
}
form input{
    width: 90%;
    height: 31px;
}
form label{
    font-size: 17px;
    font-weight: 600;
}
.form *{
    margin: 6px 14px;
}
.form h1{
    font-size: 20px;
    padding: 0px 14px;
    font-weight: 450;
}
form button{
    text-align: center;
    cursor: pointer;
    background-color: #ffd814;
    width: 90%;
    height: 31px;
    border-radius: 17px;
    border: none;
    font-size: 14px;
}
main p a{
    text-decoration: underline;
    color: #2161a1bd;
    margin: 0px !important;
}
main p a:hover{
    color: #2161a1;
}
main p{
    font-weight: lighter;
    font-size: 14px;
}
hr{
    height: 0.45rem;
}
.link a {
    text-decoration: none;
    color: #2162a1;
    font-weight: 510;
    font-size: 1.1em;
}
.link a:hover{
    text-decoration: underline;
}
.links{
    display: flex;
    justify-content: center;
    padding: 14px 1px;
}
.links a{
    text-decoration: none;
    color: #2162a1;
    margin: 0px 14px;
    font-size: 0.9rem;
    font-weight: 100 !important;
}
.links a:hover{
    text-decoration: underline;
}
footer p{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200 !important;
}